body {
  background-color: #E4FBFF;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 100px;
}

h1 {
  color: #04009A;
}

h3 {
  color: #04009A;
}

p {
  color: #04009A;
}

label {
  color: #04009A;
}
